<!DOCTYPE html>
<html>
<head>
  <title>AwesomeBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" <%= link_to "Blog Awesome", root_path %></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a <%= link_to "About", about_us_path %></a></li>
      <% if user_signed_in? %>
      <li><a <%= link_to "Create Post", new_article_path %></a></li>
      <li><a <%= link_to "All Posts", articles_path %></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a <%= link_to "Log out", sessions_path, method: :delete %></a></li>
      <% else %>
      <li><a <<%= link_to "Log In", new_session_path %></a></li>
      <li><a <%= link_to "Sign Up", new_user_path %></a></li>
    <% end %>
    </ul>
  </div>
</nav>

<%= notice || alert %>

<%= yield %>
<footer class="footer">
  <small>
  Copyright 2016 Alex Tang
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>

</body>
</html>
