<!DOCTYPE html>
<html>
<head>
  <title>AwesomeBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" <%= link_to "Blog Awesome", root_path %></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "About", about_us_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to "Create Post", new_article_path %></li>
      <li><%= link_to "All Posts", articles_path %></li>
       <li>Hello <%= current_user.first_name %></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<% link_to sessions_path, method: :delete %>"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
         <li><a href="<% link_to new_user_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
         <li><a href="<% link_to new_session_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         <% else %>
       </ul>
       <% end %>
     </div>
   </nav>



<%= notice || alert %>

<%= yield %>

</body>
</html>
